---
layout: default
---


<div class="wrapper">
  <!-- Paginated Posts -->
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>{% include post-list.html %}</li>
    {% endfor %}
  </ul>

  <!-- Pagination Links -->
  <div>
    {% include pagination-links.html %}
  </div>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116928022-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116928022-1');
</script>
